.wrapper {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
}

.word-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    margin-top: 2em;
}